<h3 align="left">Job Ad Analysis</h3>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="col-md-6">
            <!-- Other content or charts, if needed -->
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>

<script>
    // setup 
    fetch('/get-chart-data')
    .then(response => response.json())
    .then(data => {
        percentage = data['percentage'];

        const chartData = {
            datasets: [{
                data: [data['Matched'], data['No Match']],
                backgroundColor: [
                'rgba(255, 26, 104, 0.2)',
                'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                'rgba(255, 26, 104, 1)',
                'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        };

        const doughnutLabal = {
            id: 'doughnutLabal',
            beforeDatasetDraw(chart, arg, pluginOptions) {
                const { ctx, data } = chart;

                ctx.save();
                const xCoor = chart.getDatasetMeta(0).data[0].x;
                const yCoor = chart.getDatasetMeta(0).data[0].y;
                ctx.font = 'bold 75px sans-serif';
                ctx.fillstyle = 'roba(54, 162, 235, 1)';
                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                ctx.fillText(`${percentage}%`, xCoor, yCoor);
            }

        }
    // config 
        const config = {
            type: 'doughnut',
            data: chartData, // Use chartData as the data source
            options: {},
            plugins: [doughnutLabal]

        };
    

    // render init block
    const myChart = new Chart(
      document.getElementById('myChart'),
      config
    );

    // const chartVersion = document.getElementById('chartVersion');
    // chartVersion.innerText = Chart.version;


});
</script>

