{% extends "base.html" %} 
{% block title %}analyze/create{% endblock %} 
{% block content %}

<br />
  <h1 align="left">Analyze & Create</h1>
<br />

{% if 'sections' in session %}
  {% include "analysis_create/ana_cre_outputad.html" %}
  {% include "analysis_create/ana_cre_dashboard_output.html" %}
  {% include "analysis_create/ana_cre_create.html"%}
{% else %}
  {% include "analysis_create/ana_cre_inputad.html" %}
{% endif %}

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />

<script>

  document.addEventListener('DOMContentLoaded', function() {
    const toggleFormBtn = document.getElementById('toggleFormBtn');
    const projectForm = document.getElementById('projectForm');
    const scrollButton = document.getElementById('toggleFormBtn');
    const scrollToElement = document.getElementById('createCover');
    
  projectForm.style.display = 'none';
  
  toggleFormBtn.addEventListener('click', function() {
      if (projectForm.style.display === 'none') {
        projectForm.style.display = 'block';
        toggleFormBtn.textContent = 'Hide Form';
      } else {
        projectForm.style.display = 'none';
        toggleFormBtn.textContent = 'Create Optimised Covering Letter';
      }
  });

  scrollButton.addEventListener('click', function() {
        // Scroll to the element with an offset
        scrollToElement.scrollIntoView({
          behavior: 'smooth',
          block: 'start',  
          inline: 'nearest',
        });
  });

  });
  
</script>
{% endblock %}
