<h3 align="left">Job Ad Analysis</h3>
<br />

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <canvas id="myChart1" style="width: 100%; height: 100%;"></canvas>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card" style="width: 100%; height: 100%;">
                <div class="card-body">
                    <canvas id="myChart2" style="width: 100%; height: 100%;"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js/dist/chart.umd.min.js"></script>

<script>
    fetch('/get-doughnut-core-skills-data')
    .then(response => response.json())
    .then(data => {
        percentage = data['percentage'];

        const chartData = {
            datasets: [{
                data: [data['Matched'], data['No Match']],
                backgroundColor: [
                'rgba(255, 26, 104, 0.2)',
                'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                'rgba(255, 26, 104, 1)',
                'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        };

        const doughnutLabal = {
            id: 'doughnutLabal',
            beforeDatasetDraw(chart, arg, pluginOptions) {
                const { ctx, data } = chart;

                ctx.save();
                const xCoor = chart.getDatasetMeta(0).data[0].x;
                const yCoor = chart.getDatasetMeta(0).data[0].y;
                ctx.font = 'bold 75px sans-serif';
                ctx.fillstyle = 'roba(54, 162, 235, 1)';
                ctx.textAlign = 'center';
                ctx.textBaseline = 'middle';
                ctx.fillText(`${percentage}%`, xCoor, yCoor);
            }

        }

        const config = {
            type: 'doughnut',
            data: chartData,
            options: {},
            plugins: [doughnutLabal]
        };
    
        const myChart1 = new Chart(
        document.getElementById('myChart1'),
        config
        );
    });

</script>

<script>
    fetch('/get-bar-project-score-data')
    .then(response => response.json())
    .then(data => {
      // Data is now an array of objects received from the Flask route

      const chartData = {
        labels: data.map(item => item[1]), // Use the second element of each tuple as labels
        datasets: [{
          data: data.map(item => item[2]), // Use the third element of each tuple as data
          backgroundColor: 'rgba(255, 26, 104, 0.2)',
          borderColor: 'rgba(255, 26, 104, 1)',
          borderWidth: 1

        },
        {
          data: data.map(item => item[3]), // Create an object with 'y' property
          backgroundColor: 'rgba(0, 0, 0, 0.2)',
          borderColor: 'rgba(0, 0, 0, 1)', // Color of the line
          borderWidth: 0.5, // Width of the line
          type: 'line' // Specify that this dataset should be a line chart
        }
        ]
      };
  
      const config = {
        type: 'bar',
        data: chartData,
        options: {
            scales: {
                x: {
                  min: 0,   // Set the minimum value of the x-axis to 0
                  max: 1,   // Set the maximum value of the x-axis to 1
                  beginAtZero: false, // Do not start the x-axis at zero
                  ticks: {
                    stepSize: 0.1, // Customize the step size between ticks as needed
                  },
                },
              },
          indexAxis: 'y',
          elements: {
            bar: {
              borderWidth: 2,
            }
          },
          responsive: true,
          plugins: {
            legend: {
              display: false,
            },
            
          }
        },
      };
  
      const myChart2 = new Chart(
        document.getElementById('myChart2'),
        config
      );
    })
</script>

