<div class="container text-center" id="loader" style="display: none;">
    <!-- Animation container -->
    <div class="row">
        <div class="col-md-12" style='height: 520px;'>
            <object id="svgObject" type="image/svg+xml" class="img-fluid" width="70%"></object>
        </div>
    </div>
    
    <!-- Text container -->
    <div class="row">
        <div class="col-md-12" style='height: 520px;'>
            <h3>Analysing please wait...</h3>
        </div>
    </div>
</div>

<div id="ana_cre_inputad">
    <br />
        <h1 align="left">Analyze & Create</h1>
    <br />
        <h3 align="left">Use this section to analyze the job advert.</h3>
    <br />

    <form action="{{ url_for('views.ana_cre_main') }}" method="post" id="analyze-job-ad" onsubmit="return showLoadingAnimation()">
        <h5 align="left">Job advertisement</h5>
        <div class="form-group">
            <textarea class="form-control" id="job_ad" name="job_ad" rows="19" placeholder="Copy & paste job advert here...">{{ input_value }}</textarea>
        </div>
        
        <div>
            <button type="submit" id="analyze" name="analyze" class="btn btn-primary">Analyze</button>
            <button type="reset" class="btn btn-danger ml-2">Reset</button>
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        var svgLoader = new Image();
        svgLoader.src = "{{ url_for('static', filename='loader/cssLoader.svg') }}";
    
        $("#analyze").click(function() {
            $("#loader").show();
            $("#ana_cre_inputad").hide();
    
            $("#svgObject").attr("data", "{{ url_for('static', filename='loader/cssLoader.svg') }}");
        });
    });
</script>
