{% extends "base.html" %} 
{% block title %}Profile{% endblock %} 
{% block content%}

<br />
  <h1 align="left">Profile</h1>
<br />

{% include "profile/profile_api.html" %}
{% include "profile/profile_notes.html" %}
{% include "profile/profile_skills.html"%}
{% include "profile/profile_projects.html"%}
{% include "profile/profile_workexp.html"%}

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        const toggleFormBtn = document.getElementById('toggleFormBtn');
        const projectForm = document.getElementById('projectForm');

        const toggleWorkexpFormBtn = document.getElementById('toggleWorkexpFormBtn');
        const workexpForm = document.getElementById('workexpForm');

        const skillInput = document.getElementById('skill');
        const skillForm = document.getElementById('skill-form');

        const scrollButton = document.getElementById('toggleFormBtn');
        const scrollToElement = document.getElementById('scrollAddProject');

  
      toggleFormBtn.addEventListener('click', function() {
        if (projectForm.style.display === 'none') {
          projectForm.style.display = 'block';
          toggleFormBtn.textContent = 'Hide Form';
        } else {
          projectForm.style.display = 'none';
          toggleFormBtn.textContent = 'Add Project';
        }
      });

      toggleWorkexpFormBtn.addEventListener('click', function() {
        if (workexpForm.style.display === 'none') {
          workexpForm.style.display = 'block';
          toggleWorkexpFormBtn.textContent = 'Hide Form';
        } else {
          workexpForm.style.display = 'none';
          toggleWorkexpFormBtn.textContent = 'Add Project';
        }
      });
  
      skillInput.addEventListener('keydown', function(event) {
        if (event.key === 'Enter') {
          event.preventDefault();
          skillForm.submit();
        }
      });

      scrollButton.addEventListener('click', function() {
        scrollToElement.scrollIntoView({
          behavior: 'smooth',
          block: 'start',  
          inline: 'nearest',
        });
      });

      });


    </script>

    
  {% endblock %}
