<h3 align="left">OpenAI Access Parameters</h3>
<br />

{% if not user.api_keys %}
  <form method="POST">
    <h5 align="left">Upload Api Key</h5>
    <p>
      To start using Covered, you'll need an OpenAI API key. Follow the steps below to get your API key:
      <br>
      <a href="https://www.openai.com/" target="_blank">Visit the OpenAI website</a>
    </p>
      <div class="form-group">
        <input type="text" class="form-control" id="api_key" name="api_key" placeholder="Enter API Key here..."/>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% else %}
  <h5 align="left">API Key</h5>
  <ul class="list-group list-group-flush" id="notes">
    {% for api_key in user.api_keys %}
    <li class="list-group-item">Your OpenAI API Key 
      <button type="button" class="close" onClick="deleteApiKey({{ api_key.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
{% endif %} 