<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link 
      rel="stylesheet" 
      href="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.css"
      crossorigin="anonymous"
    />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://unpkg.com/popper.js@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.11.6/dist/umd/popper.min.js" integrity="sha384-ToszPY8B9zpBb0KKhP2j3h/XyKtu8uyDVIaIwfl1q5G5Fsd5SY6f8p00JECfUKF5" crossorigin="anonymous"></script>
    <title>{% block title %}Home{% endblock %}</title>
    <style>
      /* Add these styles to your CSS to create a sticky footer */
      html, body {
        height: 100%;
        margin: 0;
      }

      body {
        display: flex;
        flex-direction: column;
      }

      footer {
        margin-top: auto; /* Push the footer to the bottom */
      }
    </style>
  </head>
  {% include 'nav.html' %}
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/bootstrap.tagsinput/0.8.0/bootstrap-tagsinput.min.js"
    ></script>
      {% block javascript %}
        <script type="text/javascript">
          function deleteNote(noteId) {
            fetch("/delete-note", {
              method: "POST",
              body: JSON.stringify({ noteId: noteId }),
            }).then((_res) => {
              window.location.href = "/profile_main";
            });
          }

          function deleteSkill(skillId) {
            fetch("/delete-skill", {
              method: "POST",
              body: JSON.stringify({ skillId: skillId }),
            }).then((_res) => {
              window.location.href = "/profile_main";
            });
          }

          function deleteApiKey(api_keyId) {
            fetch("/delete-api_key", {
              method: "POST",
              body: JSON.stringify({ api_keyId: api_keyId }),
            }).then((_res) => {
              window.location.href = "/profile_main";
            });
          }

          function deleteProject(projectId) {
            fetch("/delete-project", {
              method: "POST",
              body: JSON.stringify({ projectId: projectId }),
            }).then((_res) => {
              window.location.href = "/profile_main";
            });
          }

          function deleteWorkexp(workexpId) {
            fetch("/delete-workexp", {
              method: "POST",
              body: JSON.stringify({ workexpId: workexpId }),
            }).then((_res) => {
              window.location.href = "/profile_main";
            });
          }

          function deleteApplication(historyId) {
            console.log(historyId);
            fetch("/delete-application", {
              method: "POST",
              body: JSON.stringify({ historyId: historyId }),
            }).then((_res) => {
              window.location.href = "/history";
            });
          }

          window.addEventListener('beforeunload', function() {
            localStorage.setItem('scrollPosition', window.scrollY);
          });

          document.addEventListener('DOMContentLoaded', function() {
            const scrollPosition = localStorage.getItem('scrollPosition');
            if (scrollPosition) {
              window.scrollTo(0, parseInt(scrollPosition));
            }
          });
        </script>
      {% endblock %}
      {% include 'footer.html' %}
  </body>
</html>