{% extends "base.html" %}

{% block content %}

<br />
<div class="image-container text-center">
    <object id="svgObject" data="{{ url_for('static', filename='loader/logoLoader.svg') }}" type="image/svg+xml" class="img-fluid" width='40%'></object>
    <h1 class="mt-1">Welcome to Covered</h1>
</div>
<br />
<p>
    Covered, a Flask-based web app, simplifies the job hunt for junior software engineers. 
    It automates job application tracking, stores profiles, skills, and projects, and generates tailored applications. 
    By analyzing job ads and matching skills, it streamlines the process, saving time and improving application quality. 
    Users can make data-driven decisions, optimizing their job search.
</p>
<br />

{% endblock %}