{% extends "base.html" %} {% block title %}Profile{% endblock %} 
{% block content%}
  <br />
    <h1 align="left">Profile</h1>
  <br />
    <h3 align="left">OpenAI Access Parameters</h3>
  <br />

{% if not user.api_keys %}
  <form method="POST">
    <h5 align="left">Upload Api Key</h5>
      <div class="form-group">
        <input type="text" class="form-control" id="api_key" name="api_key" placeholder="Enter API Key"/>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
{% else %}
  <h5 align="left">API Key</h5>
  <ul class="list-group list-group-flush" id="notes">
    {% for api_key in user.api_keys %}
    <li class="list-group-item">Your OpenAI API Key 
      <button type="button" class="close" onClick="deleteApiKey({{ api_key.id }})">
        <span aria-hidden="true">&times;</span>
      </button>
    </li>
    {% endfor %}
  </ul>
{% endif %} 
  <br />
    <h3 align="left">Personalize Settings and Info</h3>
  <br />
  <br />
    <h5 align="left">Build a database of notes your want to mention in your covering letter</h5>
      <ul class="list-group list-group-flush" id="notes">
      {% for note in user.notes %}
        <li class="list-group-item">
          {{ note.data }}
          <button type="button" class="close" onClick="deleteNote({{ note.id }})">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
      {% endfor %}
      </ul>
    <form method="POST">
      <div class="form-group">
        <textarea name="note" id="note" class="form-control"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add Statement Note</button>
    </form>

    <br />
    <h5 align="left">Add core skills to a cover letter skills database</h5>
    <div class="form-group">
      <ul class="list-group list-skill-flush" id="skills">
        {% for skill in user.skills %}
        <li class="list-group-item skill-tag">
          {{ skill.data }}
          <button type="button" class="close" onClick="deleteSkill({{ skill.id }})">
            <span aria-hidden="true">&times;</span>
          </button>
        </li>
        {% endfor %}
      </ul>
    </div>
    <form method="POST">
      <div class="form-group">
        <input type="text" name="skill" id="skill" class="form-control" placeholder="Enter your core skill here" data-role="tagsinput">
      </div>
      <div align="left">
          <button type="submit" class="btn btn-primary">Add Core Skill</button>
      </div>
    </form>
  
  <br />
  <h5 align="left">Build your projects database to include into your covering letter</h5>
    <form method="POST">
      <div class="form-group">
        <input type="text" name="project_title" id="project_title" class="form-control" placeholder="Enter Projects Title">
        <input type="text" name="project_client" id="project_client" class="form-control" placeholder="Enter Projects Client">
        <input type="text" name="project_date_from" id="Project_date_from" class="form-control" placeholder="Enter Projects Start Date">
        <input type="text" name="project_date_too" id="Project_date_too" class="form-control" placeholder="Enter Projects Finish Date">
        <input type="text" name="project_link" id="project_link" class="form-control" placeholder="Enter Project Link">
        <input type="text" name="project_description" id="project_description" class="form-control" placeholder="Enter Project Description">
        <input type="text" name="project_core_skill" id="project_core_skill" class="form-control" placeholder="Enter Projects Core Skills">
      </div>
      <div align="left">
          <button type="submit" class="btn btn-primary">Add Project</button>
      </div>
    </form>


    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />


    {% endblock %}